In [1]:
# Add the Pandas dependency.
import pandas as pd

In [10]:
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

#read data with pandas read_csv
school_data_df = pd.read_csv(school_data_path)
student_data_df = pd.read_csv(student_data_path)

student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [9]:
# Determine if there are any missing values in the school data. (count does not tally null data)
student_data_df.isnull().sum()  #no missing data

#determine data types for the df
school_data_df.dtypes
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [11]:
#cleaning students name, refernce: cleaning_student_name.ipynb

#all prefixes and suffixes in a list
prefixes_suffixes = ["Dr. ", "Mr. ", "Mrs.", "Ms. ", "Miss ", 
                     " MD", " DDS", " DVM", " PhD", " Ph.D"]

#iterate through the prefixes/suffixes and replace them with nothing in the df
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")